<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <footer th:fragment="footer" class="blog-footer">
        <div class="container">
            <p class="m-0 text-center text-white">Welcome to <a href="https://www.mrx.cn">mrx.cn</a></p>
        </div>

        <script src="../../static/jquery/jquery-3.1.1.min.js" th:src="@{/jquery/jquery-3.1.1.min.js}"></script>
        <script src="../../static/bootstrap-3.3.7-dist/js/bootstrap.min.js" th:src="@{/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
        <script src="../../static/custom/js/thymeleaf-bootstrap-paginator.js" th:src="@{/custom/js/thymeleaf-bootstrap-paginator.js}"></script>
        <script src="../../static/toastr/toastr.min.js" th:src="@{/toastr/toastr.min.js}"></script>
        <script src="../../static/thinker-md/javascripts/thinker-md.vendor.min.js" th:src="@{/thinker-md/javascripts/thinker-md.vendor.min.js}"></script>
        <script src="../../static/jQuery-tagEditor/jquery.tag-editor.min.js" th:src="@{/jQuery-tagEditor/jquery.tag-editor.min.js}"></script>
        <script src="../../static/chosen_v1.8.0/chosen.jquery.min.js" th:src="@{/chosen_v1.8.0/chosen.jquery.min.js}"></script>
    </footer>
</body>
</html>